h1{
    padding: bottom 50%;
    padding-left: 130px;
    font-size: large;
}
.vv{
    width: 100%; position: absolute;left: 0px;
    height: 81%;
}
ul{
   
}
h2{
    padding-top: 550px;
}